---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from 'astro:assets';
import farver from "../assets/images/01-farver.png";
import motiver from "../assets/images/02-motiver.png";
import strl from "../assets/images/03-strl.png";
import layout1 from "../assets/images/04-layout1.png";
import layout2 from "../assets/images/04-layout2.png";
import layout3 from "../assets/images/04-layout3.png";
import layout4 from "../assets/images/04-layout4.png";
---
<MainLayout title="British Beat Musik">
	<article class="grid mx-auto container gap-8 pt-8 prose">
        <h1>Fire gode steps til at sammensætte en plakatvæg</h1>
        <section>
            <h2></h2>
                <p></p>
                <ul>
                    <li></li>
                    <li></li>
                </ul>
                <!-- <Image src={farver} alt="to farver hængt op på en væg" /> -->
        </section>
        
        <hr>

        <h2></h2>
        <p></p>
        <ul>
            <li></li>
            <li></li>
        </ul>
        <!-- <Image src={motiver} alt="to motiver hængt op på en væg" /> -->

        <hr>

        <section>
            <h2></h2>
                <p></p>
                <ul>
                    <li></li>
                    <li></li>
                </ul>
                <!-- <Image src={farver} alt="to farver hængt op på en væg" /> -->
        </section>

        <hr>

           <section>
            <h2></h2>
                <p></p>
                <ul>
                    <li></li>
                    <li></li>
                </ul>
                <!-- <Image src={farver} alt="to farver hængt op på en væg" /> -->
        </section>
        
        <section>
            <div class="grid grid-cols-2 gap-4">
                <!-- <Image src={layout1} alt="Visning af opsætning på væg, version 1" />
                <Image src={layout2} alt="Visning af opsætning på væg, version 2" />
                <Image src={layout3} alt="Visning af opsætning på væg, version 3" />
                <Image src={layout4} alt="Visning af opsætning på væg, version 4" /> -->
            </div>
        </section>
    </article>
</MainLayout>