---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from 'astro:assets';
import Heropic from "../assets/images/hero.jpg";
---
<MainLayout title="British Beat Music">
    <section class="">
        <Image src={Heropic} alt="British Beat music titel med the beatles statuer"/>
    </section>
	<article class="grid mx-auto container gap-8 pt-8 prose">
            <section>
            <h2 class="text-8xl uppercase font-black">1950'erne</h2>
                <h3></h3>
                <ul>
                    <li>The Beatles</li>
                    <li>The Animals</li>
                    <li>The Rolling Stones</li>
                </ul>
                <!-- <Image src={farver} alt="to farver hængt op på en væg" /> -->
        </section>
        
        <hr>

        <section>
            <h2 class="text-8xl uppercase font-black">1960'erne</h2>
            <p></p>
            <ul>
                <li></li>
                <li></li>
            </ul>
            <!-- <Image src={motiver} alt="to motiver hængt op på en væg" /> -->
        </section>

        <hr>

        <section>
            <h2></h2>
                <p></p>
                <ul>
                    <li></li>
                    <li></li>
                </ul>
                <!-- <Image src={farver} alt="to farver hængt op på en væg" /> -->
        </section>

        <hr>

           <section>
            <h2></h2>
                <p></p>
                <ul>
                    <li></li>
                    <li></li>
                </ul>
                <!-- <Image src={farver} alt="to farver hængt op på en væg" /> -->
        </section>
        
        <section>
            <div class="grid grid-cols-2 gap-4">
                <!-- <Image src={layout1} alt="Visning af opsætning på væg, version 1" />
                <Image src={layout2} alt="Visning af opsætning på væg, version 2" />
                <Image src={layout3} alt="Visning af opsætning på væg, version 3" />
                <Image src={layout4} alt="Visning af opsætning på væg, version 4" /> -->
            </div>
        </section>
    </article>
</MainLayout>